language: php
sudo: false

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  include:
    - php: 5.5
      env: dependencies=lowest
    - php: 5.5
      env: dependencies=highest
    - php: 5.6
      env: dependencies=lowest
    - php: 5.6
      env: dependencies=highest
    - php: 7.0
      env: dependencies=lowest
    - php: 7.0
      env: dependencies=highest

before_script:
  - composer self-update -q
  - if [ -z "$dependencies" ]; then composer install; fi;
  - if [ "$dependencies" = "lowest" ]; then composer update --prefer-lowest -n; fi;
  - if [ "$dependencies" = "highest" ]; then composer update -n; fi;

script:
  - phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
